/* Estilos Generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgba(243, 252, 230, 0.158);
}
/*Menu principal*/
.menu_Navegacion input[type="search"] {
    padding: 0.4em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.menu_Navegacion img {
    max-width: 100px;
    height: auto;
}
.menu_Navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    background-color: #292626fd; /* Fondo oscuro similar al de Apple */
    color: #fff; /* Color del texto */
}

.menu {
    display: flex;
}

.menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > ul > li {
    margin-right: 10px;
    position: relative;
}
.menu > ul > li:first-child >a{
    background-image: url(../img/inicio_icono.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 18px 35px;
}
.menu > ul > li:first-child:hover >a{
    background-image: url(../img/inicio_icono.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu > ul > li > a { 
    display: block;
	padding: 10px 10px;
	color: #fff;
    font-size: small;
	font-family: Verdana;
    text-transform: uppercase;
	text-decoration: none;
	transition: all 300ms ease;
    text-decoration: none;
}

.menu > ul > li > a:hover {
	transform: scale(1.1);
	background: #aacf8c;
	color: #000;
	box-shadow: 0px 0px 10px 0px rgba(221, 240, 203, 0.5);
	transition: all .3s;
}
.menu li:hover .submenu {
	visibility: visible;
	opacity: 1;
}
.menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #141414;
    border-radius: 0.20em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.menu li:hover > ul {
    display: flex;
    flex-direction: column;
}

#selecion{
    transform: scale(1.1);
    background-color: #aacf8c;
    box-shadow: 0px 0px 10px 0px rgba(195, 233, 197, 0.5);
}
/*Sub Menu*/
.menu ul.submenu{
    width: 145px;
    display: flex;
    flex-direction: column;
    background: #e6f0dd;
    position: absolute; 
    top: 50px;
    left: -4px;
    padding: 7px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(161, 158, 158, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
.menu ul.submenu:hover{
    visibility: visible;
    opacity: 1;
    top: 40px;
}
.menu ul.submenu li :hover{
    visibility: visible;
    opacity: 1;
    top: 55px;
    animation: all 300ms ease;
}
.menu ul.submenu > li > :before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #e6f0dd;
    position: absolute;
    top: -6px;
    left: 20px;
}
.menu ul .submenu >li> a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 6px;
    margin-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transform: all 300ms ease;
}
.menu ul .submenu li a:hover{
    background: #aacf8c;
    color: #000;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
}
