/* Estilos Generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgba(243, 252, 230, 0.479);
}
/*Menu principal*/
.menu_Navegacion input[type="search"] {
    padding: 0.6em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.menu_Navegacion img {
    max-width: 110px;
    height: auto;
}

.menu_Navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.5em;
    background-color: #292626fd;
    color: #fff;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
}
.menu{
    height: 100%;
}
.menu > ul{
    height: 100%;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > ul > li {
    height: 100%;
    margin-right: 10px;
    position: relative;
}
.menu > ul > li:first-child >a{
    background-image: url(../img/inicio_icono.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 18px 28px;
}
.menu > ul > li:first-child:hover >a{
    background-image: url(../img/inicio_icono.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu > ul > li > a { 
    display: block;
	padding: 10px 10px;
	color: #fff;
    font-size: small;
	font-family: Verdana;
    text-transform: uppercase;
	text-decoration: none;
	transition: all 300ms ease;
    text-decoration: none;
}

.menu > ul > li > a:hover {
	transform: scale(1.1);
	background: #aacf8c;
	color: #000;
	box-shadow: 0px 0px 10px 0px rgba(221, 240, 203, 0.5);
	transition: all .3s;
}
#seleccion {
    transform: scale(1.1);
    background-color: #aacf8c;
    box-shadow: 0px 0px 10px 0px rgba(195, 233, 197, 0.5);
}
/*Sub Menu*/
.menu > ul > li > ul {
    width: 145px;
    display: flex;
    flex-direction: column;
    background: #e6f0dd;
    position: absolute; 
    top: 53px;
    left: -6px;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(161, 158, 158, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

.menu > ul > li:hover > ul  {
    visibility: visible;
    opacity: 1;
    top: 40px;
}
.menu ul > li > ul > li :before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #e6f0dd;
    position: absolute;
    top: -10px;
    left: 30px;
}
.menu ul > li > ul > li a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 6px;
    padding-left: 14px;
    margin-top: 12px;
    font-size: 12px;
    text-transform: uppercase;
    transform: all 300ms ease;
}

.menu ul > li > ul > li a:hover {
    background: #aacf8c;
    color: #000;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 12px;
    box-shadow: 0px 0px 10px 0px rgba(161, 158, 158, 0.5);

}
/*Estilos para el Body*/

    .contenido_principal{
        padding: 40px 20px;
        max-width: 1200px;
        margin: 20px auto;
    }
    .busca_tu_Aventura{
        background: #fff;
        max-width: 1200px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
    }
    header.busca_tu_Aventura h2 {
        font-size: 30px;
        font-family: Arial, sans-serif;
        color: #4aac32;
        text-align: center;
        font-weight: bold;
      }

    header.busca_tu_Aventura input[type="search"] {
        width: 80%;
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: inset 0 1px 2px #8d8c8c;
      }

      /*Estilos para el cuerpo de la Pagina*/
    article {
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    article h1 {
        color: #000000;
        font-size: 30px;
        padding-bottom: 30px;
    }   

    article p {
        color: #555;
        line-height: 1.6;
    }

    article img, article video {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para la sección de la tabla */
    section {
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    article h3 {
        padding-bottom: 30px;
    }
    section h2 {
        color: #000000;
        text-align: center;
        padding-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        max-width: 600px;
        margin: 0 auto;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px ;
    }

    th {
        background-color: #aacf8c;
        color: #fff;
    }

/* Estilos para el párrafo debajo de la tabla */
section p {
    color: #555;
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
    }
/*Estolos para las tarjetas*/

.tarjeta {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    overflow: hidden;
    width: 300px;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta h1, .tarjeta h2 {
    color: #333;
    font-size: 18px;
    margin: 16px;
}

.tarjeta span {
    display: block;
    margin: 8px 16px;
    font-size: 14px;
    color: #666;
}

.tarjeta p {
    padding: 0 16px;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}


/*Responsivos*/
@media screen and (max-width: 820px) {
    .buscador input {
        display: none;
    }
    .logo img{
        display: none;
    }
    .menu > ul{
        flex-direction: column;
        background-color:  #aacf8c;
        position: fixed;
        left: 0;
        top: 55px;
        width: 100%;
        height: 300px;
        transform: all 300ms ease;
        z-index: 100;
        opacity: 1;
        *visibility: hidden;

    }
    .menu > ul > li > a:hover {
        transform: scale(1);

    }
    .menu > ul > li > ul{
        left: 60px;
    }
    .menu > ul > li  :hover ul{
        top: 50px;
    }
    .menu > ul > li :first-child a{
        background-position: 20px;
    }

}
/*Estilos para la pagina Rutas Paseo */
/* Estilo global del cuerpo */
.cuerpo_001 {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    color: #333;
    background-color: #f7f7f7; 
    display: grid;
    padding: 30px 30px;
    max-width: 1000px;
    margin: 30px auto;
    align-items: center;
}

/* Estilos para la cabecera */

.parte__1 .inicio {
    background-color: #fafafa; 
    padding: 20px; 
    border-bottom: 1px solid #ececec; 
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}

.parte__1 .inicio h1 {
    font-size: 1.8em; 
    color: #72c524;
    text-align: center;
}

/* Estilos para las tarjetas de contenido */
.parte__2{
display: grid;
grid-template-columns: 1fr;
grid-column-gap: 30px;
}

@media (width > 500px){
    .parte__2{
        grid-template-columns: 1fr 1fr;
    }
}
@media (width > 800px){
    .parte__2{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.parte__2 .tarjeta {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: none; 
    margin-bottom: 20px; 
    padding: 20px; 
    transition: transform 0.3s ease-in-out; 
}

.parte__2 .tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2); 
}
.parte__2 .tarjeta img{
    width: 250px;
    height:15em;
}



/* Estilos para el pie de página */
.parte__3 .final {
    background-color: #3e463bd7;
    color: #ffffff;
    padding: 40px 20px; 
    text-align: left; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
}

.parte__3 .final img {
    width: 50px; 
    height: auto;
    margin-bottom: 10px; 
}

.parte__3 .final h2 {
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

.parte__3 .final p {
    font-size: 1em; 
    margin-bottom: 0; 
}


/* estolo para la pagina EXPLORA */
/* Estilos para el contenedor principal */
.cuerpo_pri__001 {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #fff; 
}

/* Estilos para las secciones de contenido */
.Contenido__01, .Contenido__02 {
    margin-bottom: 40px; 
}

/* Estilos para la cabecera de la sección */
.Contenido__01 header, .Contenido__02 header {
    background-color: #f8f8f8; 
    padding: 20px;
    border-bottom: 1px solid #ececec;
}

.Contenido__01 header h2, .Contenido__02 header h2 {
    font-size: 2em; 
    color: #000000; 
    margin-bottom: 20px;
}

/* Estilos para el video y las imágenes */
.Contenido__01 video, .Contenido__01 img, .Contenido__02 img {
    width: 100%; /* Ancho completo dentro de su contenedor */
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
}

/* Estilos para los artículos y los asides */
.Contenido__01 article, .Contenido__02 aside {
    padding: 20px;
    background-color: #fafafa; 
    border-radius: 8px; 
    margin-bottom: 20px; 
}

/* Estilos para los párrafos dentro de los asides */
.Contenido__02 aside p {
    font-size: 1em; 
    line-height: 1.6; 
    color: #555; 
    margin-bottom: 10px; 
}

/* Estilos para la clase Contenido__03 */
.Contenido__03 {
    background-color: #eef2f7; 
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para la sección de contacto */
    .contactos {
        background-color: #f8f8f8;
        color: #333;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
    }
    .contactos_parte1 {
        background-color: #f8f8f8;
        color: #333;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        margin: 0 auto;
    }
    .contactos_parte1 img {
        width: 90%;
    }

    .contactos h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .contactos form {
        display: grid;
        gap: 5px;
    }

    .contactos label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: #333;
    }

    .contactos input,
    .contactos textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .contactos textarea {
        resize: vertical;
    }

    .contactos input[type="submit"] {
        background-color: #66c01d;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
    }

    .contactos input[type="submit"]:hover {
        background-color: #0a7719;
    }

    .contactos p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.5;
        color: #555;
    }

/*Estilos para la pagina Resgistrate - Formularo de Registro*/
.formulario {
	width: 370px;
	background: #708090;
	padding: 30px;
	margin: auto;
	margin-top: 30px;
	border-radius: 4px;
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.formulario h4 {
	color: #000;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.controles {
	width: 100%;
	background: #000000;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #000;
	font-size: 18px;
	color: white;
}

.formulario a {
	color: white;
	text-decoration: none;
}

.formulario a:hover {
	border: 1px solid #000;
	color: white;
	text-decoration: none;
}

.formulario .botons {
	width: 70%;
	background: #D6D6D4;
	border: none;
	padding: 13px;
	margin: 10px 45px;
	font-size: 18px;
	box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.5);
	transition: all .5s;
}

.Contenido_principal {

    font-family: 'Arial', sans-serif;
    margin: 40px auto;
    max-width: 1000px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Contenido_principal .titulo h1 {
    color: #333;
    text-align: center;
}

.contenido_multimedia_img {
    display: flex;
    justify-content: center;
    margin: 20px 40px;
}

.contenido_multimedia_img img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

figcaption {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: -5px;
    border-radius: 0 0 8px 8px;
}

figcaption p {
    color: #555;
    line-height: 1.6;
}

/* Estilos para el Pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color: #292626fd;
}
.pie-pagina .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.pie-pagina .grupo_1 .box figure img{

    width: 200px;
}
.pie-pagina .grupo_1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo_1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo_1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #201f1ffd;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10px;
}   
.pie-pagina .grupo_1 .red-social a:hover {
    color: rgb(0, 255, 42);
}
.pie-pagina .grupo_2{
    background-color: #201f1ffd;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo_2 small{
     font-size: 15px;
}
@media screen and (max-width:800px){    
    .pie-pagina .grupo_1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}